name: .NET Build

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            # Checkout the repository
            -   name: Checkout code
                uses: actions/checkout@v4

            # Setup .NET Core SDK
            -   name: Setup .NET
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: 8.0.x

            -   name: Restore dependencies
                run: dotnet restore src/Larcanum/ShellToolkit.sln
            -   name: Build
                run: dotnet build --no-restore src/Larcanum/ShellToolkit.sln
            -   name: Test
                run: dotnet test --no-build --verbosity normal src/Larcanum/ShellToolkit.sln
