name: NuGet Package Release

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            # Checkout the repository
            - name: Checkout code
              uses: actions/checkout@v3

            # Setup .NET Core SDK
            - name: Setup .NET Core
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: 8.0.x

            # Extract version from the tag
            - name: Extract version from tag
              id: extract_version
              run: echo "::set-output name=VERSION::${GITHUB_REF#refs/tags/v}"

            # Pack the project with the version from the previous step
            - name: Pack the project
              run: dotnet pack --configuration Release --output ./artifacts /p:Version=${{ steps.extract_version.outputs.VERSION }} src/Larcanum/ShellToolkit/ShellToolkit.csproj

            # Push the package to NuGet
#            - name: Push to NuGet
#              env:
#                  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
#              run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
